#search {
  background-color: #06304b;
}
#cardbg {
  background-color: #06304b;
}
#list {
  overflow: visible;
}
#autoitem {
  /* From https://css.glass */
  background: rgba(32, 32, 32, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
}
